/* Min portefølje skrifto */
#overskrift {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: black;
  text-align: center;
  margin: 50px 0;
  text-shadow: 0 0 3px whitesmoke, 0 0 5px gray;
}

#erik {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  margin: 5px 0;
  text-shadow: 0 0 3px whitesmoke, 0 0 5px gray;
}

ul {
  list-style-type: none;
  margin: 50px;
  padding: 20px;
  overflow: hidden;
  background-color: gray;
  border: 3px solid black;
  border-radius: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 1px whitesmoke, 0 0 2px gray;
  font-weight: bolder;
  font-size: 17px;
}

/* Størrelsen på bildene */
img {
  width: 500px;
  height: 500px;
}

#forsidebilde {
  border: solid 5px black;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Kossen alle boxane er */
.infoContainer {
  display: grid;
  grid-template-columns: 13.3cm;
  color: black;
}

/* Må bruka # når det er id */
/* Bruker punktom til "class" */

.button {
  background-color: #656262;
  width: 80px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  color: black;
}

.center-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navigasjonen på toppen av menyen */
.topnav {
  background-color: #656262;
  overflow: hidden;
  margin-bottom: 50px;
}

/* Kossen menyen ser ut */
.topnav a {
  font-weight: bolder;
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 1px whitesmoke, 0 0 2px gray;
}

/* Knappane skifter farge når musepeikeren er over den */
.topnav a:hover {
  background-color: rgb(154, 152, 152);
  color: black;
}

/* Skifte farge på Fanen du er innpå kanppen i menyen */
.topnav a.active {
  background-color: rgb(197, 186, 186);
  color: rgb(0, 0, 0);
}

body {
  background-color: gray;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
}

a {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.subjectContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
}

#bilder {
  width: auto;
  height: 250px;
}

#ombilde {
  width: auto;
  height: 169px;
  border: solid 5px black;
}

.prodhistContainer {
  display: grid;
  grid-template-columns: auto auto;
  color: black;
}

#wire {
  width: auto;
  height: 250px;
  border: solid 5px black;
}

#blom {
  width: 410px;
  height: 250px;
  border: solid 5px black;
}

#dyr {
  width: 410px;
  height: 250px;
  border: solid 5px black;
}

.arduinoContainer {
  display: grid;
  grid-template-columns: auto auto;
  color: black;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 0 0 1px whitesmoke, 0 0 2px gray;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-shadow: 0 0 1px whitesmoke, 0 0 2px gray;
  font-weight: bold;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-shadow: 5 5 5px whitesmoke, 5 5 5px gray;
  font-weight: bold;
}

#omskrift {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1 1 1px whitesmoke, 2 2 2px gray;
  font-weight: bold;
}

#omoverskrift {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-shadow: 5 5 5px whitesmoke, 5 5 5px gray;
  font-weight: bold;
}

#kontaktskrift {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1 1 1px whitesmoke, 2 2 2px gray;
  font-weight: bold;
}

.subjectContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
}

#bilder {
  width: auto;
  height: 250px;
  border: solid 5px black;
}

#bokomslag {
  width: 410px;
  height: 250px;
  border: solid 5px black;
}

#bilderrapport {
  width: 410px;
  height: 500px;
  border: solid 5px black;
  display: grid;
  grid-template-columns: auto auto;
}

.ruterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
