
/* Min portefølje skrifto*/
h1 {
  color:black;
  
}

/*Størrelsen på bildene*/
img {
  width: 500px;
  height: 500px;
}

/* Kossen alle boxane er*/
.infoContainer {
  display:grid;
  grid-template-columns:13.3cm;
  color:black;
  
  
}
  




/* Må bruka # når det er id*/
/* Bruker punktom til "class"*/


.button {
  background-color:cadetblue;
  width: 80px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  color: black;
  
}
.center-main {
  align-items:center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Navigasjonen på toppen av menyen*/ 
.topnav {
background-color: #333;
overflow: hidden;
}

/* Kossen menyen ser ut*/
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 100px;
text-decoration: none;
font-size: 20px;
}

/* Knappane skifter farge når musepeikeren er over den*/
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Skifte farge på Fanen du er innpå kanppen i menyen*/
.topnav a.active {
background-color:cadetblue;
color: white;
}

body {
 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
}
a {
  color:black;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.subjectContainer {
  display:grid;
  grid-template-columns:auto auto auto;
  color:black;
  
}

#bilder {
  width: auto;
  height: 250px;
}

#om {
  width: auto;
  height: 169px;
}


