.topnav {
    background-color: #333;
    overflow: hidden;
    }
    
    /* Kossen menyen ser ut*/
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    /* Knappane skifter farge når musepeikeren er over den*/
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
    /* Skifte farge på Fanen du er innpå kanppen i menyen*/
    .topnav a.active {
    background-color:cadetblue;
    color: white;
    }

    p{
        color:black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        
    }
    